# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
.venv-*/
venv/

# Environment variables
.env
/data
/slurm
/sync-pull.sh
/sync-push.sh
/scripts
/plots
/logs
/artifacts

*.csv
*.pdf
*.png

# Local review notes
/code_review.md